<!-- 
  Main Navigation Component
  
  This component contains the main navigation menu for the DTU Hostel website.
  It includes dropdown menus for sections with multiple pages.
  
  The paths are root-relative (/path) and will be converted to the correct relative paths
  by the script.js loading mechanism based on the current page location.
-->
<nav class="navbar">
  <ul>
    <!-- Home link -->
    <li><a href="/index.html">Home</a></li>
    <!-- About section dropdown -->
    <li class="dropdown">
      <a href="/pages/about-us/about.html">About</a>
      <ul class="dropdown-menu">
        <li><a href="/pages/about-us/chief-warden-message.html">Message from the Chief Warden</a></li>
        <li><a href="/pages/about-us/hostel-facilities.html">Hostel Facilities</a></li>
        <li><a href="/pages/about-us/wardens-council.html">Hostel Wardens' Council</a></li>
        <li><a href="/pages/about-us/hostel-information-bulletin.html">Hostel Information Bulletin</a></li>
        <li><a href="/pages/about-us/ugc-anti-ragging-regulations.html">UGC Regulations on Curbing the Menace of Ragging</a></li>
        <li><a href="/pages/about-us/anti-ragging-committee.html">Anti ragging committee/squad</a></li>
        <li><a href="/pages/about-us/hostel-capacity-chart.html">Hostel Capacity Chart</a></li>
        <li><a href="/pages/about-us/administrative-overview.html">Administrative Overview</a></li>
        <li><a href="/pages/about-us/hostel-allotment-policy-2025-26.html">DTU HOSTEL ALLOTMENT POLICY 2025-26</a></li>
      </ul>
    </li>
    <!-- Fee Structure section dropdown -->
    <li class="dropdown">
      <a href="/pages/fees/fee-structure.html">Fee Structure</a>
      <ul class="dropdown-menu">
        <li><a href="/pages/fees/hostel-fee-structure.html">Hostel Fee Structure</a></li>
        <li><a href="/pages/fees/mess-fee-structure.html">Mess Fee Structure</a></li>
        <li><a href="/pages/fees/payment-procedure.html">Payment Procedure for Hostel & Mess Fee</a></li>
      </ul>
    </li>
    <!-- Boys Hostels section dropdown -->
    <li class="dropdown">
      <a href="/pages/hostels/boys/boys-hostels.html">Boys Hostels</a>
      <ul class="dropdown-menu">
        <li><a href="/pages/hostels/boys/aryabhatta-hostel.html">Aryabhatta Hostel (ABH)</a></li>
        <li><a href="/pages/hostels/boys/homi-jehangir-bhabha-hostel.html">Homi Jehangir Bhabha Hostel (HJB)</a></li>
        <li><a href="/pages/hostels/boys/ramanujan-hostel.html">Ramanujan/Transit Hostel</a></li>
        <li><a href="/pages/hostels/boys/sir-cv-raman-hostel.html">Sir Chandrasekhara Venkata Raman Hostel (CVR)</a></li>
        <li><a href="/pages/hostels/boys/jc-bose-hostel.html">Sir Jagadish Chandra Bose Hostel (JCB)</a></li>
        <li><a href="/pages/hostels/boys/bhaskaracharya-hostel.html">Bhaskaracharya Hostel (BCH)</a></li>
        <li><a href="/pages/hostels/boys/visvesvaraya-hostel.html">Sir M. Visvesvaraya Hostel (VVS)</a></li>
        <li><a href="/pages/hostels/boys/varahamihira-hostel.html">Varahamihira Hostel (VMH)</a></li>
        <li><a href="/pages/hostels/boys/apj-abdul-kalam-hostel.html">Dr. A.P.J. Abdul Kalam Hostel</a></li>
        <li><a href="/pages/hostels/boys/type-ii-hostel.html">Type-II Boys Hostel</a></li>
      </ul>
    </li>
    <!-- Girls Hostels section dropdown -->
    <li class="dropdown">
      <a href="/pages/hostels/girls/girls-hostels.html">Girls Hostels</a>
      <ul class="dropdown-menu">
        <li><a href="/pages/hostels/girls/sister-nivediata-hostel.html">Sister Nivedita Hostel (SNH)</a></li>
        <li><a href="/pages/hostels/girls/kalpana-chawla-hostel.html">Kalpana Chawla Hostel (KCH)</a></li>
        <li><a href="/pages/hostels/girls/virangana-lakshmi-bai-hostel.html">Virangana Lakshmi Bai Hostel Block-1&2 (VLB) (AC)</a></li>
      </ul>
    </li>
    <!-- Single page sections -->
    <li><a href="/pages/about-us/hostels-complaints-grievances.html">Hostels' Complaints & Grievances Redressal</a></li>
    <li><a href="/pages/utility/important-performa.html">Important Performa</a></li>
    <li><a href="/pages/utility/contact.html">Contact Us</a></li>
    <li><a href="/pages/utility/feedback-form.html">Feedback Form</a></li>
  </ul>
</nav>

<meta name="viewport" content="width=1200" />
